[package]
name = "event_engine"
version = "0.1.0"
edition = "2024"

[dependencies]
priority-queue = "2.7.0"

[dev-dependencies]
rand = "0.8"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1

[profile.dev]
opt-level = 1
